#home-container {
	padding: 10px;
	display: grid;
	grid-template-columns: 45% auto 25%;
	grid-template-rows: 20% 20% auto;
}

#sign-in {
	margin: auto;
	padding: 0;
	width: 350px;
	min-width: 350px;
}

#user {
	grid-row-start: 1;
	grid-row-end: 2;
	grid-column-start: 3;
	grid-column-end: 4;
	justify-items: end;
}

#error-list {
	grid-column-start: 1;
	grid-column-end: 4;
	grid-row-start: 2;
	grid-row-end: 3;
	overflow-y: scroll;
}

#error-details {
	grid-row-start: 3;
	grid-row-end: 5;
}

.userNotify {
	color: red;
}
